- image_link = image_url(sections[0].image.url)
.home-background-img{ style: "background-image: url(#{image_link}); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{image_link}, sizingMethod='scale'); -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{image_link}, sizingMethod='scale')';" }
