.half-width.top-left
  = render 'section_content', section: sections[0]

.half-width.top-right
  = render 'section_content', section: sections[1]

.full-width.bottom
  = render 'section_content', section: sections[2]
