%section.home
  - image_link = image_url('kitty.jpg')

  .home-background-img{ style: "background-image: url(#{image_link}); filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{image_link}, sizingMethod='scale'); -ms-filter: 'progid:DXImageTransform.Microsoft.AlphaImageLoader(src=#{image_link}, sizingMethod='scale')';" }